.container {
/* kalarkan wad iska badali karta hadad rabtid */
    background-color: aqua;
    margin: 100px 300px;
    border-radius: 25px;
    width: 60%;
}

p {
    padding: 220px 200px;
   text-align: center;
}
.next-btn{
    background-color: rgb(80, 80, 255);
    color: white;
    padding: 10px 40px;
    margin-left: 45%;
    margin-bottom: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}
.next-btn:hover{
    background-color: rgb(50, 50, 255);
    transition: all 0.3s;
}